<div style="margin-left: 2em; margin-top: 2em;">
  <h1>Añadir Usuarios</h1>
  <mat-form-field class="example-form-field" appearance="fill">
    <mat-label>usuario</mat-label>
    <input matInput type="text" [(ngModel)]='usuario'>
    <button *ngIf="usuario" matSuffix mat-icon-button aria-label="Clear" (click)="usuario=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  
  <mat-form-field class="example-form-field" appearance="fill" style="margin-left: 1.2em;">
    <mat-label>telefono</mat-label>
      <input matInput type="text" [(ngModel)]='telefono'>
      <button *ngIf="telefono" matSuffix mat-icon-button aria-label="Clear" (click)="telefono=''">
        <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field class="example-form-field" appearance="fill" style="margin-left: 1.2em;">
    <mat-label>correo</mat-label>
      <input matInput type="text" [(ngModel)]='correo'>
      <button *ngIf="correo" matSuffix mat-icon-button aria-label="Clear" (click)="correo=''">
        <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  
  <button _ngcontent-xkt-c120="" mat-raised-button="" color="warn" class="mat-focus-indicator mat-raised-button mat-button-base mat-primary" style="margin-left: 1.2em;" (click)="addUser()"><span class="mat-button-wrapper">Submit</span><span matripple="" class="mat-ripple mat-button-ripple"></span><span class="mat-button-focus-overlay"></span></button>  
</div>

<div *ngIf='users.length > 0' style="margin-left: 2em; margin-top: 5em;">
  <h2>Usuarios</h2>
  <mat-action-list>
    <mat-list-item *ngFor="let item of users" (click)="displayModifyItem(item.id)">      
        <div style="margin-left: 2em;" >
          usuario: {{ item.usuario }}
        </div>
        <div style="margin-left: 2em;">
          telefono: {{ item.telefono }}
        </div>
        <div style="margin-left: 2em;">
          correo: {{ item.correo }}
        </div>
      <div style="margin-left: 2em;">
        <button _ngcontent-xkt-c120="" mat-raised-button="" color="warn" class="mat-focus-indicator mat-raised-button mat-button-base mat-warn" (click)="removeItem(item.id)"><span class="mat-button-wrapper">Delete</span><span matripple="" class="mat-ripple mat-button-ripple"></span><span class="mat-button-focus-overlay"></span></button>
      </div>
    </mat-list-item>
  </mat-action-list>
</div>

<div *ngIf='modify' style="margin-left: 2em; margin-top: 2em;">
  <h2>Modificar Usuario</h2>
  <mat-form-field class="example-form-field" appearance="fill">
    <mat-label>Nuevo usuario</mat-label>
    <input matInput type="text" [(ngModel)]='nuevo_usuario'>
    <button *ngIf="nuevo_usuario" matSuffix mat-icon-button aria-label="Clear" (click)="nuevo_usuario=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  
  <mat-form-field class="example-form-field" appearance="fill" style="margin-left: 1.2em;">
    <mat-label>Nuevos telefono</mat-label>
      <input matInput type="text" [(ngModel)]='nuevos_telefono'>
      <button *ngIf="nuevos_telefono" matSuffix mat-icon-button aria-label="Clear" (click)="nuevos_telefono=''">
        <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field class="example-form-field" appearance="fill" style="margin-left: 1.2em;">
    <mat-label>Nuevos correo</mat-label>
      <input matInput type="text" [(ngModel)]='nuevos_correo'>
      <button *ngIf="nuevos_correo" matSuffix mat-icon-button aria-label="Clear" (click)="nuevos_correo=''">
        <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  
  <button _ngcontent-xkt-c120="" mat-raised-button="" color="warn" class="mat-focus-indicator mat-raised-button mat-button-base mat-primary" style="margin-left: 1.2em;" (click)="modifyItem()"><span class="mat-button-wrapper">Modify</span><span matripple="" class="mat-ripple mat-button-ripple"></span><span class="mat-button-focus-overlay"></span></button>  
</div>

<div *ngIf='error' style="margin-left: 2em; margin-top: 2em;">
  <mat-form-field class="example-full-width" appearance="fill">
    <input matInput disabled value="Introduzca los datos">
  </mat-form-field>
  <button (click)="error=false"><mat-icon>close</mat-icon></button>
</div>

